div#game-board {
    background-color: black;
}

span.tile {
    display: table-cell;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: default;
    padding: 0px;
}