div#game-board {
    background-color: black;
}

span.tile {
    display: table-cell;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: default;
    padding: 0px;
}

span.tile.cell-wall {
    border: 2px solid green;
}

span.tile.cell-eggo {
    background-image: url(../images/eggo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 3.2px 2.1px;
    animation: flash 1s infinite;
}

span.tile.cell-eleven {
    background-image: url(../images/eleven2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

span.tile.cell-demogorgon {
    background-image: url(../images/blueGhost.gif);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center 3px;
}


.state-blinking span.tile.cell-demogorgon {
    animation: flash 1s infinite;
}


/**
    Created the dot using the before pseudo element
    https://stackoverflow.com/questions/6936972/draw-circle-using-css-alone
**/
span.tile.cell-food:before, span.tile.cell-target:before {
    content: '\25CF';
    font-size: 10px;
  }

  /* TRYING TO FIGURE OUT HOW THE BLINK IMAGE WORK */

.flash {
    animation-name: flash;
}
@-webkit-keyframes flash {
    0% { opacity: .1; }
    100% { opacity: 3; }
   }
   @keyframes flash {
    0% { opacity: .1; }
    100% { opacity: 3; }
   }