#lives span {
    background-image: url("../images/eleven.png");
    background-size: cover;
    width: 30px;
    height: 38px;
    display: inline-block;
    margin-top: 4px;
}

#current-level {
    width: 94%;
    height: 24px;
    display: inline-block;
    font-size: 25px;
}

#github-icon {
    background-image: url("../images/github-logo.png");
    background-size: cover;
    width: 27px;
    height: 27px;
    display: inline-block;
}

div#scoreboard {
    width: 79%;
    font-size: 30px;
    height: 32px;
    line-height: 30px;
    margin-top: 10px;
}

div#lives {
    display: inline-block;
    height: 67px;
    background: content-box;
}