.screen-start {
  margin: 0 auto;
  text-align: center;
  background-color: darkblue;
  border-radius: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;    
  background-position: center;
}

.screen-start h2 {
  font-size: 2.0em;
  text-transform: uppercase;
  background-image: url(../images/logo.png);
  width: 662px;
  display: inline-block;
  margin-top: 0;
  padding-top: 135px;
  background-repeat: no-repeat;
  background-size: 48%;
  background-position: center -78px;
  animation: flash linear 5s infinite;
}



.screen-start .instructions {
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 1em;
  padding: 0.8em 1em;
  width: 652px;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 13px;
}

.screen-start .instructions h3 {
  margin: 1em 0;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 20px;
}

.screen-start .instructions p {
  margin: 1em 0;
  line-height: 1.4em;
  padding: 0px 0px;
}

#start-game-link,
#restart-game-link {
  margin: 1em;
  color: black;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: #ee8d29;
  padding: 0.4em 2em;
  border-radius: 0.5em;
  cursor: pointer;
}

#start-game-link:hover {
  color: #fe6734;
  background-color: #450402;
}

#restart-game-link {
  display:none;
  font-size: 1em;
}

#screen-start:hover,
#restart-game:hover {
  background-color: #efad69;
  cursor: pointer;
}